<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "ExChat", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>

    <div class="navbar bg-neutral">
      <div class="flex-1">
        <%= link "ExChat", to: Routes.page_path(@conn, :index), class: "btn btn-ghost normal-case text-xl navbar__title text-neutral-content" %>
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal p-0">
          <li tabindex="0">
            <%= if @current_user do %>
              <a class="text-neutral-content">
                <%= @current_user.username %>
              </a>
              <ul class="p-2 bg-base-100 shadow-lg">
                <li><%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %></li>
                <li><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
              </ul>
            <% end %>

          </li>
          <%= if !@current_user do %>
            <li><%= link "Register", to: Routes.user_registration_path(@conn, :new) %></li>
            <li><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= @inner_content %>
  </body>
</html>
